.card {
  height: 400px;
  width: 450px;
  color: white;
  cursor: pointer;
  transition: transform 100ms;
  padding: 20px;
}
.card:hover {
  transform: scale(1.09);
}
.card > img {
  height: 300px;
  width: 450px;
  object-fit: contain;
}
.card h2 {
  padding-top: 10px;
}
.videoCard_stats {
  display: none;
}
.card:hover > .videoCard_stats {
  display: flex;
  font-size: 17px;
  justify-content: space-between;
}
@media (max-width: 786px) {
  .card {
    height: 300px;
    width: 350px;
    padding: 10px;
  }
  .card > img {
    height: 250px;
    width: 350px;
  }
  .card h2 {
    padding-top: 5px;
  }
}
@media (max-width: 574px) {
  .card {
    height: 400px;
    width: 350px;
    padding: 10px;
  }
  .card > img {
    height: 300px;
    width: 350px;
  }
  .card h2 {
    padding-top: 7px;
  }
  .card:hover > .videoCard_stats {
    display: flex;
    font-size: 15px;
  }
}
